:root {
  --main-bg-color: rgb(39, 174, 96);
}

.wrapper {
  background-color: white;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  width: 60%;
  padding: 40px 50px;
}

p {
  text-align: end;
  color: var(--main-bg-color);
}

footer {
  color: white;
  margin-top: 15px;
}

.quote {
  display: flex;
}

.quote-copy h1 {
  font-size: 40px;
  position: relative;
  text-align: center;
  top: 10px;
  font-weight: 400px;
  color: var(--main-bg-color);
}

.quote-icon {
  font-size: 46px;
  position: relative;
  color: var(--main-bg-color);
}

.quote-author {
  margin-right: 5px;
  margin-top: 5px;
}

.new-quote-button {
  display: block;
  float: right;
  padding: 5px 12px;
}

.button,
a {
  background-color: var(--main-bg-color);
  border: none;
  border-radius: 3px;
  box-shadow: none;
  font-size: 13px;
  color: white;
}

.tumblr {
  padding-top: 5.7px;
  padding-bottom: 6.9px;
  padding-left: 10px;
  padding-right: 10px;
}

.twitter {
  padding-top: 5.7px;
  padding-bottom: 6.9px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 5px;
}
